.about {
  position: relative;

  @media (min-width: @screen-sm) {

    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: #E7E7E7;
      top: 0;
      left: 40%;
    }
  }

  @media (min-width: @screen-lg) {

    &::after {
      left: 42%;
    }
  }

  &__service {
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 3em;

    @media (min-width: @screen-sm) {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}