.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-size: @font-size;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid @text-color;
  border-radius: 2px;
  color: @text-color;
  background-color: transparent;
  background-image: none;
  padding: 15px 30px;
  touch-action: manipulation;

  &:hover {
    text-decoration: none;
    background-color: @blue;
    color: @white;
    border: 3px solid @blue;
  }

  &--thin-border {
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    padding: 8px 30px;
    border: 1px solid @gray-light;
    border-radius: 0;

    &:hover {
      border: 1px solid @blue;
      background-color: @blue;
      color: @white;
      text-decoration: none;
    }
  }

  &--form-submit {
    font-weight: 500;
    font-size: 0.75em;
    border: 1px solid @blue;
    border-radius: 0;
    background-color: @blue;
    color: @white;
    width: 100%;
    line-height: 25px;
    padding: 12px 20px 11px;

    &:hover {
      border: 1px solid @blue-darker;
      background-color: @blue-darker;
      color: @white;
      text-decoration: none;
    }
  }
}