.burger {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover,
  &:focus {
    outline: 0;
  }

  span {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: @text-color;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: @text-color;
      content: "";
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }
}