.certificates {
  padding: 3em 0;
  background-color: @bg--light;

  @media (min-width: @screen-sm) {
    padding: 4em 0;
  }

  &__content {
    margin-bottom: 20px;

    @media (min-width: @screen-md) {
      margin-bottom: 0;
    }
  }
}