.feedback {
  padding: 3em 0;
  background-color: @bg--light;
  text-align: center;

  @media (min-width: @screen-sm) {
    padding: 4em 0;
  }

  &__desc {
    margin: 0;
    margin-bottom: 25px;

    @media (min-width: @screen-sm) {
      max-width: 550px;
      margin: 0 auto;
      margin-bottom: 25px;
    }
  }
}