.form {

  @media (min-width: @screen-md) {
    width: 80%;
    margin: 0 auto;
  }

  .form-control {
    color: @gray;
    height: 50px;
    border: 1px solid #D8D8D8;
    border-radius: 0;

    &:focus {
      border: 1px solid @blue-lighter;
      outline: none;
      box-shadow: none;
      color: @text-color;
    }
  }
}