.helpful {

  @media (min-width: @screen-md) {
    padding: 0 20px;
  }

  &__list {
    list-style-type: none;
    padding: 22px 3em 0 15px;

    @media (min-width: @screen-md) {
      padding: 22px 3em 0 0;
    }
  }

  &__item {
    font-style: italic;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;

    a {
      color: @text-color;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url(../img/helpful-arrow-link.svg);
        background-repeat: no-repeat;
        width: 6px;
        height: 10px;
        left: -15px;
        top: 3px;
      }
    }
  }
}