.logo {

  &:hover {
    text-decoration: none;
  }

  &__content {
    padding: 15px 0;
  }

  &__text {
    width: 130px;
    height: 48px;
    margin-right: 25px;
  }

  &__icon {
    width: 51px;
    height: 47px;
  }
}