.main-nav {

  &__list {
    list-style-type: none;
    text-align: right;

    li {
      display: inline-block;
      padding: 30px 14px;

      @media (min-width: @screen-lg) {
        padding: 30px 24px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__link {
    position: relative;
    // font-family: @font-family--roboto-slab;
    // font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.4px;
    padding: 15px 0;
    color: @text-color;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 1px;
      margin-top: 18px;
      background: 0 0;
      transition: .6s;
    }

    &::before {
      left: 0;
      bottom: 0;
    }

    &::after {
      right: 0;
      bottom: 1px;
    }

    &:hover {
      text-decoration: none;

      &::before,
      &::after {
        width: 100%;
        background-color: @blue;
      }
    }
  }
}