.news-block {

  &__inner {
    position: relative;
    padding: 3em 0;

    @media (min-width: @screen-md) {

      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        background-color: #E7E7E7;
        top: 0;
        left: 32.8%;
      }

      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        background-color: #E7E7E7;
        top: 0;
        left: 66.8%;
      }
    }
  }
}