.news {
  padding: 0 0 3em 0;

  @media (min-width: @screen-md) {
    padding: 0 20px;
  }

  &__list {
    list-style-type: none;
  }

  &__date {
    font-size: 0.75em;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.15px;
    line-height: 18px;
    color: @gray-light;
  }

  &__text {
    margin: 10px 0 5px 0;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__more {
    text-align: right;

    a {
      display: inline-block;
      color: @blue;
      font-family: @font-family--roboto-slab;
      font-size: @font-size--small;
      letter-spacing: 0.17px;
      line-height: 20px;
      text-decoration: underline;
    }
  }
}