.page-header {

  &__contacts {
    font-size: @font-size--small;
    padding: .5em 0;
    background-color: @bg--gray;
    color: @white;
    font-weight: 500;
    letter-spacing: 0.2px;
  }

  &__feedback {
    list-style-type: none;
    text-align: left;

    @media (min-width: @screen-sm) {
      text-align: right;
    }

    li {
      display: inline-block;
      margin: 0 1em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;

        @media (max-width: (@screen-sm - 1)) {
          margin-left: 0;
        }
      }
    }
  }

  &__feedback-link {
    color: @white;

    &:hover {
      text-decoration: none;
      color: @blue-lighter;
    }
  }

  &__navigation {
    background-color: @white;
  }

  .logo__icon {
    fill: @text-color;
  }

  .logo__text {
    fill: @text-color;
  }

  &__dropdown {
    text-align: right;
    padding-top: 30px;
  }

  &__dropdown-menu {
    min-width: 250px;
    border-radius: 0;

    li {
      margin-bottom: 5px;

      a {
        color: @text-color;

        &:hover {
          background: none;
          color: @blue;
        }
      }
    }
  }
}