.page-footer {
  background-color: @bg--gray;

  &__nav-list {
    margin: 15px 0 0 0;

    @media (min-width: @screen-sm) {
      margin: 15px 0;
    }
  }

  &__nav-item {

    @media (min-width: @screen-sm) {
      margin-bottom: 10px;
    }

    a {
      font-weight: 500;
      font-size: @font-size--small;
      letter-spacing: 0.2px;
      line-height: 1em;
      color: @white;

      &:hover {
        text-decoration: none;
        color: @blue-lighter;
      }
    }
  }

  &__contact-list {
    list-style-type: none;
    color: @white;
    font-weight: 500;
    font-size: @font-size--small;
    letter-spacing: 0.2px;
    line-height: 1em;
    margin: 15px 0;

    a {
      color: @white;
    }
  }

  &__contact-phone {

    svg {
      transform: translate(0, 3px);
      margin-right: 8px;
    }
  }

  &__contact-address {

    svg {
      transform: translate(2px, 8px);
      margin-right: 10px;
    }
  }

  &__copyright {
    border-top: 1px solid #4A535D;
    padding: 7px 0;
    color: @blue-lighter;
    font-size: 0.688em;

    p {
      margin: 0;
    }
  }

  .logo__icon {
    fill: @white;
  }

  .logo__text {
    fill: @white;
  }
}