.promo {
  background-color: @gray-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3em 0 2em 0;
  text-align: center;
  border-bottom: 2px solid @bg--gray;

  @media (min-width: @screen-sm) {
    padding: 5em 0 5em 0
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    list-style-type: none;
    text-align: center;
    font-family: @font-family--roboto-slab;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.69px;
    margin-bottom: 40px;

    @media (min-width: @screen-sm) {
      font-size: @font-size--h2;
    }
  }

  &__item {
    display: inline-block;
    margin: 5px 20px;

    @media (min-width: @screen-xs) {
      margin: 0 30px;
    }

    @media (min-width: @screen-md) {
      margin: 0 60px;
    }

    svg {
      width: 86px;
      height: 86px;

      @media (min-width: @screen-sm) {
        width: 124px;
        height: 124px;
      }
    }

    p {
      margin: 0;
    }
  }

  &__buttons {

    a {
      min-width: 240px;
      font-size: @font-size--small;

      @media (max-width: @screen-sm) {
        margin: 0 0 20px 0;
      }

      @media (min-width: @screen-sm) {
        margin: 0;
        font-size: @font-size;
        padding: 20px 60px;
        font-size: @font-size;
        min-width: 330px;
      }

      @media (min-width: @screen-lg) {
        margin: 0 45px;
      }
    }
  }
}