.question-answer {
  padding: 0 0 3em 0;

  @media (min-width: @screen-md) {
    padding: 0 20px;
  }

  &__accordion {
    max-width: 100%;
    list-style-type: none;
    padding: 22px 0 0 22px;

    @media (min-width: @screen-md) {
      padding: 22px 0 0 0;
    }
  }

  &__accordion-item {
    position: relative;
    margin-bottom: 20px;

    a {
      width: 100%;
      display: block;
      cursor: pointer;
      user-select: none;
      color: @text-color;

      &::before {
        content: '';
        position: absolute;
        background-image: url(../img/question-answer-arrow.svg);
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        left: -22px;
        top: 6px;
        transition: all 0.2s ease-in-out;
      }
    }

    a.active::before {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
    }

    p {
      display: none;
      color: @blue;
      margin: 0.5em 0 1em 0;
    }
  }
}