.services {
  padding: 3em 1em 3em 0;

  @media (min-width: @screen-sm) {
    padding: 4em 0;
  }

  @media (min-width: @screen-md) {
    padding: 4em 2em;
  }

  &__list {
    font-family: @font-family--roboto-slab;
    font-weight: 400;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 20px;
    display: block;
  }

  &__link {
    color: @text-color;
    display: inline-block;

    &::before {
      position: relative;
      content: '•';
      margin-right: 20px;
    }

    &:hover {
      color: @blue;
      text-decoration: none;
    }
  }
}