.title {
  color: @blue;
  margin-bottom: 20px;

  &--hr {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 5px;
      border-top: 1px solid @blue;
      border-bottom: 1px solid @blue;
    }
  }
}