@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
         local('OpenSans'),
         url('opensans.woff2') format('woff2'),
         url('opensans.woff') format('woff'),
         url('opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'),
         local('OpenSans-Semibold'),
         url('opensanssemibold.woff2') format('woff2'),
         url('opensanssemibold.woff') format('woff'),
         url('opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

// @font-face {
//     font-family: 'Roboto Slab';
//     src: local('Roboto Slab Regular'),
//          local('RobotoSlab-Regular'),
//          url('robotoslabregular.woff2') format('woff2'),
//          url('robotoslabregular.woff') format('woff'),
//          url('robotoslabregular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Roboto Slab';
//     src: local('Roboto Slab Bold'),
//          local('RobotoSlab-Bold'),
//          url('robotoslabbold.woff2') format('woff2'),
//          url('robotoslabbold.woff') format('woff'),
//          url('robotoslabbold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: local('Roboto'),
//          local('Roboto-Regular'),
//          url('Roboto.woff2') format('woff2'),
//          url('Roboto.woff') format('woff'),
//          url('Roboto.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: local('Roboto Italic'),
//          local('Roboto-Italic'),
//          url('Robotoitalic.woff2') format('woff2'),
//          url('Robotoitalic.woff') format('woff'),
//          url('Robotoitalic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: local('Roboto Medium'),
//          local('Roboto-Medium'),
//          url('Robotomedium.woff2') format('woff2'),
//          url('Robotomedium.woff') format('woff'),
//          url('Robotomedium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: local('Roboto Medium Italic'),
//          local('Roboto-MediumItalic'),
//          url('Robotomediumitalic.woff2') format('woff2'),
//          url('Robotomediumitalic.woff') format('woff'),
//          url('Robotomediumitalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: local('Roboto Black'),
//          local('Roboto-Black'),
//          url('Robotoblack.woff2') format('woff2'),
//          url('Robotoblack.woff') format('woff'),
//          url('Robotoblack.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
// }