a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
  font-size: @font-size;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

address {
  font-style: normal;
}

p {
  line-height: 1.575em;
}

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  // font-family: @font-family--roboto-slab;
  font-weight: 700;
}

h1 {
  font-size: @font-size--h2;

  @media (min-width: @screen-sm) {
    font-size: @font-size--h1;
  }
}

h2 {
  font-size: @font-size--h3;

  @media (min-width: @screen-sm) {
    font-size: @font-size--h2;
  }
}

h3 {
  font-size: @font-size--h3;
}

h4 {
  font-size: @font-size--h4;
}

h5 {
  font-size: @font-size--h5;
}

h6 {
  font-size: @font-size--h6;
}

small {
  font-size: @font-size--small;
}

b,
strong {
  font-weight: 500;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

button {
  background-color: inherit;
  border: none;
}

.grey {
  border: 1px solid black;
}

.icon-border {

  @media (max-width: (@screen-md - 1)) {
    display: none;
  }
}