<footer class="page-footer">
  <div class="page-footer__navigation">
    <div class="container">
      <div class="row">
        <div class="hidden-xs  hidden-sm  col-md-3">
          <a class="logo" href="/">
            <div class="logo__content">
              <svg class="logo__text"><use xlink:href="#logo-text"></use></svg>
              <svg class="logo__icon"><use xlink:href="#logo-icon"></use></svg>
            </div>
          </a>
        </div>
        <nav class="page-footer__nav  col-xs-12  col-sm-6  col-md-5">
          <ul class="page-footer__nav-list">
            <div class="row">
              <li class="page-footer__nav-item  col-sm-6"><a href="/">Услуги</a></li>
              <li class="page-footer__nav-item  col-sm-6"><a href="/">Вопрос ответ</a></li>
              <li class="page-footer__nav-item  col-sm-6"><a href="/">Лицензии и сертификаты</a></li>
              <li class="page-footer__nav-item  col-sm-6"><a href="/">Полезные статьи</a></li>
            </div>
          </ul>
        </nav>
        <div class="col-xs-12  col-sm-6  col-md-4">
          <ul class="page-footer__contact-list">
            <li class="page-footer__contact-phone">
              <svg width="18px" height="18px"><use xlink:href="#phone"></use></svg>
              <a href="tel:+78124483128">+7 (812) 448-31-28</a>
            </li>
            <li class="page-footer__contact-address">
              <svg width="16px" height="25px"><use xlink:href="#address"></use></svg>
              <span>Санкт-Петербург, ул. Бумажная, д.17</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12  col-sm-3">
          <p>Специалист Copyright 2016</p>
        </div>
        <div class="col-xs-12  col-sm-9">
          <p>Свидетельство об аккредитации №234857432300 от 22.02.2014</p>
        </div>
      </div>
    </div>
  </div>
</footer>