<meta charset="UTF-8">

<link rel="stylesheet" href="css/style.css">

<!--DEV <meta name="viewport" content="width=1000"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--DEV
<script>
  // Маркер работающего javascript
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>
-->

<!--DEV
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<link rel="icon" sizes="192x192" href="img/favicons/favicon-192x192.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-57x57.png">
<meta name="theme-color" content="#2b2f38">
<meta name="msapplication-TileColor" content="#2b2f38">
<meta name="msapplication-TileImage" content="img/favicons/mstile-144x144.png">
-->
