<header class="page-header">
  <div class="page-header__contacts">
    <div class="container">
      <div class="row">
        <div class="hidden-xs  hidden-sm  col-md-5">
          <div class="page-header__address">Санкт-Петербург, ул. Промышленная, д.5</div>
        </div>
        <div class="col-xs-12  col-md-7">
          <ul class="page-header__feedback">
            <li><a class="page-header__feedback-link" href="tel:+78124483128">+7 (812) 448-31-28</a></li>
            <li><a class="page-header__feedback-link" href="mailto:info@specialist-lab.ru">info@specialist-lab.ru</a></li>
            <li><span class="page-header__feedback-btn" type="button">Заказать обратный звонок</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header__navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-9  col-sm-6  col-md-4">
          <a class="logo" href="/">
            <div class="logo__content">
              <svg class="logo__text"><use xlink:href="#logo-text"></use></svg>
              <svg class="logo__icon"><use xlink:href="#logo-icon"></use></svg>
            </div>
          </a>
        </div>
        <div class="col-xs-3  col-sm-6  col-md-8">
          <nav class="main-nav  hidden-xs  hidden-sm">
            <ul class="main-nav__list">
              <li><a href="/" class="main-nav__link">О лаборатории</a></li>
              <li><a href="/" class="main-nav__link">Услуги</a></li>
              <li><a href="/" class="main-nav__link">Вопрос-Ответ</a></li>
              <li><a href="/" class="main-nav__link">Новости</a></li>
              <li><a href="/" class="main-nav__link">Контакты</a></li>
            </ul>
          </nav>
          <div class="page-header__dropdown  dropdown  hidden-md  hidden-lg">
            <button class="burger" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span></span>
            </button>
            <ul class="page-header__dropdown-menu  dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><a href="/">О лаборатории</a></li>
              <li><a href="/">Услуги</a></li>
              <li><a href="/">Вопрос-Ответ</a></li>
              <li><a href="/">Новости</a></li>
              <li><a href="/">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>