.example-btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid @white;
  border-radius: 75px;
  color: @white;
  background-color: transparent;
  background-image: none;
  padding: 15px 55px;
  touch-action: manipulation;

  &:hover,
  &:focus {
    text-decoration: none;
    border: 2px solid @blue;
    color: @white;
    background-color: @blue;
  }

  &--promo {

    @media (max-width: (@screen-xs - 1)) {
      line-height: 1px;
      letter-spacing: 1px;
      padding: 20px 30px;
      min-width: 260px;
    }
  }

  &--bg-gray {
    color: @text-color;
    border: 2px solid rgba(54, 61, 68, .2);
    background-color: transparent;
  }

  &--small {
    padding: 8px 20px;
    text-transform: none;
    letter-spacing: 0;
  }
}