.example-page-footer {
  background-color: #d7dce5;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: @font-size--small;

  @media (max-width: (@screen-lg - 1)) {
    border-top: 1px solid rgba(54, 61, 68, .2);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__copyright {

    p {
      margin: 0;

      span {
        display: block;

        @media (min-width: @screen-sm) {
          display: block;
        }
      }
    }
  }

  &__nav {
    text-align: right;

    ul {
      list-style-type: none;
      line-height: 20px;

      li {
        display: inline-block;
        margin: 0 15px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: @text-color;
          position: relative;
          padding: 15px 0;

          &::before,
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 1px;
            margin-top: 18px;
            background: 0 0;
            transition: .6s;
          }

          &::before {
            left: 0;
            bottom: 0;
          }

          &::after {
            right: 0;
            bottom: 1px;
          }

          &:hover {
            text-decoration: none;

            &::before,
            &::after {
              width: 100%;
              background-color: @text-color;
            }
          }
        }
      }
    }
  }
}