.example-subtitle {
  display: inline-block;
  font-weight: 400;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 60px;
    background-color: @text-color;
    top: 55%;
    transform: translateY(-50%);
  }

  &::before {
    left: -100px;
  }

  &::after {
    right: -100px;
  }

  @media (max-width: (@screen-sm - 1)) {

    &::before,
    &::after {
      display: none;
    }
  }

  svg {
    transform: translateY(10px);
    margin-right: 15px;
  }

  &--c-white {
    color: @white;

    &::before,
    &::after {
      background-color: @white;
    }
  }

  &--with-icon {

    &::before,
    &::after {
      top: 75%;
    }
  }
}