.example-services {

  &__header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 150px;
    position: relative;

    @media (min-width: @screen-sm) {
      min-height: 280px;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    padding: 2em 0;

    @media (min-width: @screen-sm) {
      padding: 4em 0;
    }

    @media (min-width: @screen-lg) {
      padding-top: 60px;
      padding-bottom: 80px;
    }
  }

  &__title {
    position: relative;
    padding-left: 60px;
    margin-bottom: 2em;

    @media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
      font-size: 1.3em;
    }

    @media (min-width: @screen-sm) {
      margin-bottom: 2em;
    }

    svg {
      position: absolute;
      left: -5px;
      top: -10px;
      margin-right: 10px;

      @media (min-width: @screen-sm) {
        margin-right: 5px;
      }

      @media (min-width: @screen-md) {
        margin-right: 15px;
      }
    }
  }

  &__list {
    padding-left: 40px;
    line-height: 1.6em;
    margin-bottom: 3em;

    @media (min-width: @screen-sm) {
      padding-left: 35px;
    }

    @media (min-width: @screen-md) {
      padding-left: 25px;
      margin-bottom: 0;
    }

    li {
      margin-bottom: 0.5em;
    }
  }
}