.example-feedback {
  background-color: #d7dce5;
  padding: 1rem 1rem 1rem 1rem;

  @media (min-width: @screen-sm) {
    padding: 4rem 0;
  }

  &__section {
    position: relative;

    @media (max-width: (@screen-sm - 1)) {
      border-bottom: 1px solid rgba(54, 61, 68, .2);
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    @media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
      border-left: 1px solid rgba(54, 61, 68, .2);
      padding-left: 1em;

      &:before {
        position: absolute;
        content: "";
        height: 0;
        width: 1px;
        background-color: rgba(54, 61, 68, .7);
        left: -1px;
        top: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(.58, .33, .16, .81);
        transition-duration: .5s;
      }

      &:hover {

        &:before {
          height: 100%;
        }
      }
    }

    @media (min-width: @screen-md) {
      border: 2px solid rgba(54, 61, 68, .2);
      border-radius: 2px;
      padding: 2em;
    }

    @media (min-width: @screen-lg) {
      width: 100%;
      min-height: 330px;
    }

    &--address {

      @media (max-width: (@screen-sm - 1)) {
        border-bottom: none;
        padding-bottom: 1rem;
      }
    }
  }

  &__content {
    padding-left: 1em;

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 2em;
    position: relative;
    padding-left: 50px;
    line-height: 1.2em;

    @media (min-width: @screen-md) {
      margin-bottom: 2em;
    }

    svg {
      position: absolute;
      left: 0;
      top: -6px;
      margin-right: 10px;
    }
  }

  &__list {
    list-style-type: none;
    margin-bottom: 2em;

    li {
      padding-left: 40px;
      line-height: 20px;
      margin-bottom: .75em;
      position: relative;

      svg {
        margin-right: 17px;
        position: absolute;
        left: 3px;
        top: 0;
      }

      a {
        color: @text-color;
      }
    }

    p {
      display: inline-block;
    }
  }

  &__desc {
    margin-bottom: 30px;
    max-width: 450px;

    @media (min-width: @screen-md) {
      margin-left: 40px;
    }
  }

  &__more-link {

    @media (min-width: @screen-md) {
      margin-left: 40px;
    }
  }

  #example-icon--phone {
    transform: translate(-2px, -1px);
  }

  #example-icon--mail {
    transform: translate(-2px, 3px);
  }

  #example-icon--location {
    transform: translate(0, 0);
  }

}