.example-about {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  &__desc {
    line-height: 24px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    @media (min-width: @screen-sm) {
      max-width: 480px;
      line-height: 30px;
    }
  }
}