.example-wtf {
  background-color: #303940;
  text-align: center;
  height: 70px;

  @media (min-width: @screen-sm) {
    display: none;
  }

  &__item {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .1);
    margin: 0 .5rem;
    transform: translateY(-60px);
    display: inline-block;
    padding: .5rem;
    width: 80px;
    border: 1px solid rgba(255, 255, 255, .8);

    @media (min-width: @screen-xs) {
      width: 110px;
    }

    p {
      margin: 0;
      color: @white;
    }
  }
}