.example-researches {
  position: relative;
  text-align: center;

  @media (min-width: @screen-sm) {
    padding-bottom: 100px;
  }

  @media (min-width: @screen-md) {
    padding-bottom: 150px;
  }

  @media (min-width: @screen-lg) {
    padding-bottom: 180px;
  }

  &__for-mobile {
    display: none;
    position: relative;
    padding-bottom: 2em;

    @media (min-width: @screen-sm) {
      display: none;
    }
  }

  &__for-mobile-inner {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @media (min-width: @screen-xs) {
      top: -55px;
    }
  }

  &__inner {
    margin: auto;
    display: none;

    @media (min-width: @screen-sm) {
      display: block;
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: @screen-md) {
      top: -130px;
    }

    @media (min-width: @screen-lg) {
      top: -180px;
    }
  }

  &__type {
    position: relative;
    background-color: rgba(54, 61, 68, .5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 200px;
    width: 90px;
    height: 90px;
    display: inline-block;

    @media (min-width: @screen-xs) {
      width: 110px;
      height: 110px;
    }

    @media (min-width: @screen-sm) {
      display: block;
      width: 200px;
      height: 200px;
    }

    @media (min-width: @screen-md) {
      width: 260px;
      height: 260px;
    }

    @media (min-width: @screen-lg) {
      width: 360px;
      height: 360px;
      border-radius: 200px;
    }

    &:hover {

      .example-researches__type-inner {
        background-color: rgba(54, 61, 68, .7);
      }
    }
  }

  &__type-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(54, 61, 68, .2);
    transition-property: all;
    transition-timing-function: cubic-bezier(.58, .33, .16, .81);
    transition-duration: .5s;
    border-radius: 50%;
  }

  &__icon {
    color: @white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
      margin: 0;
      margin-top: 15px;
      font-size: @font-size--h3;
      line-height: 24px;
      letter-spacing: .67px;

      @media (max-width: (@screen-sm - 1)) {
        font-size: @font-size--small;
        margin: 0;
        transform: translateY(-13px);
      }
    }

    svg {
      stroke: @white;
    }
  }
}