.example-promo {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  text-align: center;
  min-height: 500px;
  padding-top: 150px;

  @media (min-width: @screen-lg) {
    min-height: 470px;
    padding-top: 70px;
  }

  &__title {
    font-weight: 400;
    color: @white;
    line-height: 1.1em;
    margin-bottom: 1em;

    @media (min-width: @screen-md) {
      line-height: 74px;
      padding-bottom: 50px;
      margin-bottom: 0;
    }
  }

  .example-btn {
    margin: 0 0 1em 0;

    @media (min-width: @screen-sm) {
      margin: 0 12px;
    }
  }
}